

.root{
    -fx-background-image: url("snow.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}
.navbar{
    -fx-padding: 10px;
    -fx-background-color: rgba(255,255,255,0.3);

}

.sidenav{
    -fx-background-color: rgba(255,255,255,0.3);

}

.buttonNavbar{
    -fx-padding: 10px;
    -fx-background-color: transparent;
}
.buttonNavbar:hover{
    -fx-cursor: hand;
    -fx-text-fill: white;
}
